.ContactData {
  margin: auto;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px #c9c9c9;
  margin-bottom: 16px;
}

.Input {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
